@import "../../global.scss";


.roadmap{
    background-color: Black;
    display: flex;
    position: relative;
    flex-direction: column;

    .title{
        color: white;
        font-size: 33px;
        font-family: "Futura";
        overflow: hidden;
        margin-top: 20px
    }
}

section{
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    position: relative;

    .map{
        background-color: black;
        color: white;
        font-family: "Futura";
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 25%;
        .content{
            width: 75%;
            h3{
                font-family: "Futura";
                font-size: 22px;
            }
            p{
                font-family: "Futura";
                padding: 5px;
                margin: 5px;
                font-size: 12px;
                margin-right: 250px;
            }
        }
        .img{
            img{
                width: 50px;
                margin-right: 15px;
                margin-left: 250px;
            }
        }
    }

.note {
    background-color: black;
    overflow: hidden;
    p{
        font-family: "Futura";
        color: white;
        font-size: 12px;
        margin-left: 250px;
        margin-right: 250px;
        margin-bottom: 50px;
        text-align: center;
    }
}
    

    // .header {
       
    //    img{
    //         height: 50%;
    //    }
    // }

    // .buttons {
    //     img{
    //         height: 50%;
    //         margin-top: 0%;
    //    }
    //    img:hover {
    //        opacity: 0.8;
    //    }
    // }


    @include mobile{
        flex-direction: column;
        align-items: center;
    }
}