
.row{
    display: flex;
    flex-direction: column;

}

.section-title h2{
    text-transform: uppercase;
    font-family: "Futura";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px
}

.section-title {
    margin: 3% 0;
    justify-content: center;
    align-content: center;
}

.flex{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: auto;
}

.single-team{
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 1px 2px 10px #000;
    width: 75%;
    border-radius: 19px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 400px;
}

.team-img{
    position: relative;
    z-index: 5;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.team-img img{
    width: 50%;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: .5px 1px 5px #000;
    margin: 10px;
}
.single-team:hover .team-img img{
    transform: scale(1,1);
}

.team-info{
    height: 85px;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    transition: all 0.4s;
    background: black;
    z-index: 5;
    // h3{
    //     color: white;
    // }
    // p{
    //     color: white;
    //     font-family: "Futura";
    // }
}

.single-team:hover .team-info{
    height: 150px;
}

// .team-info{
//     padding: 5px 20px 5px 20px;
//     transition: all .5s;
//     color: black;
//     text-align: center;
// }

.single-team:hover .team-info{
    background: lightgreen;
    
}

.single-team .team-info h3{
    // text-transform: uppercase;
    color: white;
    // font-size: 16px;
    margin: 5px;
    font-family: "Futura";
    font-size: 22px
}

.team-info p{
    margin-top: 10px;
    font-family: "Futura";
    color: white; 
    font-size: 15px
}

.single-team-text p{
    margin-top: 5px;
}

.team-text{
    color: black;
    padding: 0 10px;
    font-size: 12px;
    font-family: "Futura";
}