@import "../../global.scss";


.intro{
    background-color: #000000;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
    // change here bro

    .header {
       
       img{
            margin-top: 20%;
            // margin-bottom: 25%;
            height: 70%;
            position: relative;
            overflow: hidden;
       }
    }

    .buttons {
        img{
            height: 50%;
            margin-top: 0%;
            margin-bottom: 25%;
            position: relative;
            overflow: hidden;
       }
       img:hover {
           opacity: 0.8;
       }
    }


    @include mobile{
        flex-direction: column;
        align-items: center;
    }
}

//     .left{
//         flex: 0.5;
//         overflow: hidden;

//         .imgContainer{
//             width: 700px;
//             height: 700px;
//             background-color: #170f2d;
//             border-radius: 75%;
//             display: flex;
//             align-items: center;
//             justify-content:center;
//             float: right;

//             @include mobile{
//                 align-items: flex-start;
//             }

//             img{
//                 height: 90%;

//                 @include mobile{
//                     height: 50%;
//                 }
//             }
//         }
//     }
//     .right{
//         flex: 0.5;
//         position: relative;

//         .wrapper{
//             width: 100%;
//             height: 100%;
//             padding-left: 50px;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;

//             @include mobile{
//                 padding-left: 0;
//                 align-items: center;
//             }

//             h1{
//                 font-size: 40px;
//                 margin: 10px 0;
//                 color: #fffff;

//                 @include mobile{
//                     font-size: 30px;
//                     text-align: center;
//                 }
//             }
//             h2{
//                 font-size: 30px;
//                 color: #170f2d;
//                 @include mobile{
//                     font-size: 20px;
//                     text-align: center;
//                 }
//             }
//             h3{
//                 font-size: 30px;
//                 color: #170f2d;

//                 @include mobile{
//                     font-size: 20px;
//                     text-align: center;
//                 }

//                 span{
//                     font-size: inherit;
//                     color: White;

//                     @include mobile{
//                         font-size: 20px;
//                         text-align: center;
//                     }
//                 }

//                 .ityped-cursor{
//                     animation: blink 1s infinite;

//                 }

//                 @keyframes blink {
//                     50%{
//                         opacity: 1;
//                     }
//                     100%{
//                         opacity: 0;
//                     }
//                 }
//             }
//         }
//         a{
//             position: absolute;
//             bottom: 10px;
//             left: 40%;

//             img{
//                 width: 30px;
//                 animation: arrowBlink 2s infinite;
//                 color: #fa34f3;

//                 @include mobile{
//                     margin-left: 20px;
//                 }
//             }

//             @keyframes arrowBlink{
//                 100%{
//                     opacity: 0%
//                 }
            
//             }
//         }
//     }
// }